<!DOCTYPE html>
<html>
<head>
  <title>ESC Sorter Social Media Share</title>
</head>
<body>
  <h1>ESC Sorter Social Media Share</h1>
  <form action="/share" method="post">
    <label for="share_code">Share code from Mr. Gerbear's site:</label>
    <input type="text" name="share_code" />
    <input type="submit" value="Generate" />
  </form>
</body>
</html>