<!DOCTYPE html>
<html>
<head>
  <title>ESC Sorter Social Media Share</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  <div class="container">
    <header>
      <img src="/images/banner.jpg" class="title-img" />
    </header>
    <div class="content">
      <%= yield %>
    </div>
    <footer>
      <p>
        <a href="https://github.com/danijelb/esc-sorter-share" target="_blank">Source code</a>
         | Released under GPLv3
      </p>
    </footer>
  </div>
</body>
</html>